{% extends "crm/index.html" %}

{% block header %}
    <div class="row pt-3">
        <div class="col-6 col-md-9">
            <h1 class="">All Users</h1> 
        </div>
        <div class="col-6 col-md-3 fs-3 text-truncate">
            <a href="users_insert_form/" class="btn btn-lg btn-outline-primary text-truncate mb-3"> Add User </a>
        </div>
    </div>
{% endblock header %}

{% block  content %}
    {% if user_list %}
    <ol>
        {% for user in user_list %}
        <li> <a href="contacts/{{user.id}}"> {{user.user_firstname}} {{user.user_lastname}} </a> </li>
        {% endfor %}
    </ol>
    {% else %}
    <p>No users yet</p>
    {% endif %}
{% endblock   %}